@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  margin: 0;
  font-family: sans-serif;
  background: url(../imge/walman2e.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #000000;
}
/* section slider */
.container {
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.sections {
  width: 100%;
  height: 100vh; /* Full viewport height */
  justify-content: center;
  align-items: center;

  color: white;
  scroll-snap-align: start;
}

.sections:nth-child(2) {

  position: relative;
  margin-top: 0%;
  background: linear-gradient(
    454deg,
    #292929,
    #000000
  ); /* Light overlay for even sections */
}
.sections:nth-child(3) {
  position: relative;
  /* background: url(../imge/wall3.jpg) no-repeat center center fixed;
  background-size: cover; */
  background: linear-gradient(
    454deg,
    #000000,
    #292929
  ); 
}

header {
  position: fixed;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  position: absolute;
  top: 29%;
  left: 4%;
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #fff;
}

.nav-bar a {
  font-size: 20px;
  font-weight: 600;
  margin-left: 3rem;
  color: #fff;
  text-decoration: none;
}
.nav-bar a:hover {
  color: #f87171;
}
#home {
  color: #f87171;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
}
#about {
  color: #f87171;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
}
#contact {
  color: #f87171;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
}
#projects {
  color: #f87171;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
}
#skills {
  color: #f87171;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
}

.main-container1 {
  margin-top: 0%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: transparent;
  gap: 2rem;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.flex1 {
  text-align: center;
  width: 230px;
  height: 230px;
  padding: 20px;
  background: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.flex1 img {
   
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.s-three h1 {
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: #fff200;
  margin-bottom: 0%;
  text-align: center;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.hero1 {
    height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-left,
.text-right {
  /* width: 50%; */
  color: #fff;
  font-size: 2rem;
}

.text-left h2 {
  font-size: 8rem;
  font-weight: 800;
  color: #f87171;
}
#homeh1 {
  font-style: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* position: absolute; */
  font-size: 5rem;
  font-weight: 700;
  color: #fff200;
  margin-bottom: 0%;
  text-align: center;
  /* left: 50%;
    transform: translateX(-50%); */
}
#h3 {
  font-size: 2rem;
  color: #ffffff;
}
#h4 {
  font-size: 1rem;
  color: #fff200;
}
#pr {
  font-family: "Quicksand", sans-serif;
}
.hero2 {
  margin-top: 0%;
  /* position: absolute; */
  /* top: 15%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
}
.text-left2 {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
}
.profile-pic {
  width: 400px;
  max-height: 500px;
  margin-left: 10px;
  margin-right: 15px;
}
.text-right2 {
  font-family: "Quicksand", sans-serif;
  padding-left: 10px;
  padding-right: 25px;
  width: 50%;
  /* max-width: min-content; */
  color: #989797;
}

.download-link {
  display: inline-block;
  font-weight: 800;
  margin-top: 1rem;
  color: #f87171;
  text-decoration: none;
}
.download-link:hover {
  color: #fff;
  text-decoration: underline;
}

.section {
    justify-content: center;
    text-align: center;
  padding: 3rem;
  color: #fff;

}
.section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f87171;
  margin-top:3rem;

}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
} */

.bg-image {
  background: url("https://source.unsplash.com/1600x900/?street,night")
    center/cover no-repeat;
}
.hero {
    min-height: 90vh;
  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.flex1 span{
  text-align: center;
  align-items: center;
  margin-top: 20px;
  font-size:10px ;
}
.overlay {
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.form-box {
  width: 100%;
  max-width: 400px;
}

input,
textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
}

button {
  padding: 0.75rem 2rem;
  background: #f87171;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background: #292929;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 0;
}

/*  menu icone and navigation barr */
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  background-blend-mode: hue;
  background-color: #00e5ff;
  padding-top: 60px;
  transition: right 0.3s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar ul li {
  background: none;

  margin-top: none;
  border-radius: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.sidebar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-style: oblique;
}

.sidebar ul li a:hover {
  color: #13a2ef;
}

/* Hamburger Menu Icon */
.menu-icon {
  visibility: hidden;
  position: fixed;
  top: 20px;
  right: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1001;
}


.menu-icon .bar {
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.4s ease;
  border-radius: 2px;
}
.menu-icon.active .top {
  transform: rotate(45deg) translateY(10px);
}

.menu-icon.active .middle {
  opacity: 0;
}

.menu-icon.active .bottom {
  transform: rotate(-45deg) translateY(-10px);
}

/* Active Sidebar */
.sidebar.active {
  right: 0;
}

/* responsive */
@media (max-width: 1100px) {
  body {
    font-size: 12px;
  }

  header h1 {
    margin-top: 1.3rem;
    font-size: 1.3rem;
  }
  .text-left ,
  .text-right {
    font-size: 1.5rem;
  }
  .nav-bar a {
    font-size: 13px;
    margin-left: 2rem;
  }

  .main-container1 {
    top: 25%;
    padding: 1rem;
    gap: 1rem;
  }
  .s-three h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0%;
    top: 4%;
  }
  .flex1 {
    width: 180px;
    height: 180px;
    padding: 15px;
  }

  .flex1 img {
    width: 80px;
    height: 80px;
  }

  .hero1 .text-left h2 {
    font-size: 4rem;
  }

  #homeh1 {
    font-size: 4rem;
  }

  #h3 {
    font-size: 1.3rem;
  }

  #h4 {
    font-size: 0.865rem;
  }

  .profile-pic {
    width: 300px;
    max-height: 400px;
  }

  .text-left2,
  .text-right2 {
    font-size: 0.7rem;
  }
  #pr {
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
  }
  .section h2 {
    font-size: 2.0rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 0.5rem;
  }

  
  .menu-icon .bar {
    height: 3px;
  }

  footer {
    font-size: 0.865rem;
  }
}

/* For smaller screens */
@media (max-width: 770px) {
  body {
    font-size: 10px;
  }
  header {
    justify-content: space-around;
  }
  header h1 {
   top: 30%;
    position:unset;
    font-size: 20px;
  }
  .text-left,
  .text-right {
    font-size: 1.6rem;
  }

  .nav-bar a {
    font-size: 15px;
    margin-left:none;
  }
  
  .main-container1 {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .flex1 {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .flex1 img {
    width: 60px;
    height: 60px;
  }

  .hero1 .text-left h2 {
    font-size: 3rem;
  }

  #homeh1 {
    font-size: 3rem;
  }

  #h3 {
    font-size: 1rem;
  }

  #h4 {
    font-size: 0.75rem;
  }
  .hero2{
    margin-top: 40px;
  }
  .profile-pic {
    width: 280px;
    max-height: 380px;
    margin-left: 10px;
  }

  .text-left2,
  .text-right2 {
    font-size: 1rem;
    margin-right: 10px;
  }

  .section h2 {
    font-size: 1.5rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 0.25rem;
  }

  .menu-icon {
    height: 15px;
  }


  footer {
    font-size: 0.75rem;
  }
}
/* for mobile devices */


@media (max-width: 500px) {
  body {
    font-size: 8px;
  }
  header{
    background-color: #000000;
    height: 4vh;
  }
  header h1 {
    position: absolute;
  left: 4%;
  margin-top: 0.8rem;
    top: 25%;
    font-size: 15px;

  }
  
  .menu-icon{
    visibility: visible;
  }
  .s-one{
    background-color: hsla(0, 0%, 0%, 0.497);
  }
  .sections:nth-child(2) {
    position:unset;
  }
  #homeh1{
    font-size: 35px;
  } 
  #homeh2{
    padding-top: 20%;
  }
  .hero1{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .text-left h2 ,button{
    padding-left: 20px;
    font-size: 0.5rem;
  }
  .text-left button{
    margin-left: 50px;
    font-size: 1rem;
  }
  .text-right {
    font-size: 15px;
    padding-left: 40px;
  
  }

  .nav-bar a {
    visibility: hidden;
  }
  .hero2{
    /* position: absolute;
    top: 45px; */
    width: 100%;
    display: flex;
    
    align-items: flex-start;
    margin-bottom: 0%;
  }
  .text-left2{
    padding-top: 110px;
    font-size: 1rem;
    margin: 0;
  }
  .text-right2{
  font-size: 10px;
  margin: 0;
  }
  #pr{
    font-size: 6px;
    line-height: 1.8;
  }
  .profile-pic{
    width: 140px;
    max-height: 280px;
    margin-left: 10px;
  }
  .sections:nth-child(3) {
    position: unset;
    background: transparent;
}
  .main-container1 {
    position: unset;
    gap: 20px;
    transform:unset;
    padding-top:20% ;
  
  }
  
  .s-three h1{
    position:unset;
    transform:unset;
    padding-top: 20%;
  }

  .flex1 {
    width: 85px;
    height: 130px;
    padding: 10px;
    
  }
  .flex1 img{
    width: 40px;
    height: 40px;
  }

  .hero {
    min-height: 90vh;
    width: 80vh;
    padding-top: 20%;
  }
}